@font-face {
    font-family: "typewriter";
    src: url(fonts/LUCKY\ TYPEWRITER.ttf);
}

body{
   background-image: url(images2/bg.png); 
   overflow-x: hidden;
   background-size: 100%;
}

.base{
    width: 100%;
    opacity: 20%;
    position: fixed;

}

.home{
    position: absolute;
    bottom: 640px;
    width: 25%;
}

.links{
    position: absolute;
    bottom: 640px;
    width: 35%;
    left: 428px;
}

.gallery{
    position: absolute;
    bottom: 590px;
    width: 35%;
    left: 955px;
}

/* Me holder */

.meHolder{
    height: 450px;
    width: 450px;
    background-color: green;
    position: absolute;
    top: 250px;
    left: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 5px;
    z-index:1;
}

.me{
    width: 120%;
    position: relative;
    right: 40px;
    bottom:90px;
    z-index: 1;
}

.painter{
    z-index: 2;
    position: absolute;
    bottom: -90px;
}

.planty{
    z-index: 3;
    position: absolute;
    top: 570px;
    left: 120px;
    width: 30%;
}

.bubble{
    width: 15%;
    position: absolute;
    z-index: 2;
    top: 570px;
    left: 120px;
}

.name{
    font-family: "typewriter";
    position: absolute;
    top: 710px;
    left: 490px;
    font-size: 20px;
}

/* Hobbies */

.hobbies{
    font-family: "typewriter";
    position: absolute;
    font-size: 20px;
    left: 570px;
    top: 250px;
}

.computer{
    position: absolute;
    left: 530px;
    top: 250px;
    width: 25%;
}

.books{
    position: absolute;
    left: 600px;
    top: 500px;
    width: 15%;
}

.drawing{
    position: absolute;
    left: 800px;
    top: 280px;
    width: 15%;
}

.piano{
    position: absolute;
    left: 800px;
    top: 500px;
    width: 15%;
}

.crochet{
    position: absolute;
    left: 1050px;
    top: 500px;
    width: 11%;
}

.volleyball{
    position: absolute;
    left: 1000px;
    top: 270px;
    width: 15%;
}

.sleep
{
    position: absolute;
    left: 1200px;
    top: 270px;
    width: 20%;
}

.money{
    position: absolute;
    left: 1200px;
    top: 500px;
    width: 20%;
}

.computer:hover{
    transform: scale(1.1);
}

.books:hover{
    transform: scale(1.1);
}

.drawing:hover{
    transform: scale(1.1);
}

.piano:hover{
    transform: scale(1.1);
}

.crochet:hover{
    transform: scale(1.1);
}

.volleyball:hover{
    transform: scale(1.1);
}

.sleep:hover{
    transform: scale(1.1);
}

.money:hover{
    transform: scale(1.1);
}