@font-face {
    font-family: "typewriter";
    src: url(fonts/LUCKY\ TYPEWRITER.ttf);
}

body{
   background-image: url(images2/bg.png); 
   overflow-x: hidden;
   background-size: 100%;
}

.base{
    width: 100%;
    opacity: 20%;
    position: fixed;

}

.home{
    position: absolute;
    bottom: 640px;
    width: 25%;
}

.links{
    position: absolute;
    bottom: 640px;
    width: 35%;
    left: 428px;
}

.gallery{
    position: absolute;
    bottom: 590px;
    width: 35%;
    left: 955px;
}