@font-face {
    font-family: "typewriter";
    src: url(fonts/LUCKY\ TYPEWRITER.ttf);
}

body{
   background-image: url(images/background.png); 
   overflow-x: hidden;
   overflow-y: hidden;
   background-size: 100%;
}

.text1{
    font-family: "typewriter";
    position: absolute;
    bottom: 200px;
    font-size: 20px;
    left: 570px;
    color: #000000;
}

.apple{

    width: 20%;
    position: absolute;
    bottom: 30px;
    left: 1150px;
    transform: rotate(30deg);
}

.apple:hover{
    transform: scale(1.3);
}

.stars1{
    position: absolute;
    bottom: 35px;
    width: 10%;
    left: 1290px;
}

.stars1:hover{
    transform: scale(1.3);
}

.tape{
    position: absolute;
    bottom: -160px;
    right: 1100px;
    width: 30%;
    z-index: inherit;
}


.stars2{
    width: 20%;
    position: absolute;
    bottom: 15px;
    transform: rotate(-15deg);
        z-index: 2;
}

.stars2:hover{
    transform: scale(1.3);

}

/* This is my separator for the title*/

.k1{
    width: 15%;
    position: absolute;
    bottom: 483px;
    left: 80px;
    z-index: 1;
}

.o1{
    width: 16%;
    position: absolute;
    bottom: 450px;
    left: 188px;
    z-index: 2;
}

.m1{
    width: 16%;
    position: absolute;
    bottom: 480px;
    left: 320px;
    z-index: 1;
}

.i1{
    width: 20%;
    position: absolute;
    bottom: 480px;
    left: 410px;
    z-index: 1;
}

.s1{
    width: 10%;
    position: absolute;
    bottom: 510px;
    left: 560px;
    z-index: 1;
}

.w1{
    width: 26%;
    position: absolute;
    bottom: 440px;
    left: 650px;
    z-index: 1;
}

.e1{
    width: 17%;
    position: absolute;
    bottom: 470px;
    left: 840px;
    z-index: 2;
}

.b1{
    width: 25%;
    position: absolute;
    bottom: 455px;
    left: 840px;
    z-index: 1;
}

.s2{
    width: 15%;
    position: absolute;
    bottom: 470px;
    left: 1010px;
    z-index: 0;
}

.i2{
    width: 15%;
    position: absolute;
    bottom: 460px;
    left: 1070px;
    z-index: -1;
}

.t1{
    width: 15%;
    position: absolute;
    bottom: 460px;
    left: 1120px;
    z-index: 1;
}

.e2{
    width: 13%;
    position: absolute;
    bottom: 490px;
    left: 1190px;
    z-index: 0;
}
/* Apple Stuff */

.apple1{
    width: 30%;
    position: absolute;
    bottom: 150px;
    left: 530px;
    z-index: 0;
    cursor: pointer;
}

.apple1:hover{
    transform: scale(1.1);
}