@font-face {
    font-family: "typewriter";
    src: url(fonts/LUCKY\ TYPEWRITER.ttf);
}

body{
   background-image: url(images/background.png); 
   overflow-x: hidden;
   overflow-y: hidden;
   background-size: 100%;
}

img.a{
    height: 100%;
    width: 100%;
    position: relative;
    left: -10px; 
}
.text1{
    font-family: "typewriter";
    position: relative;
    bottom: 200px;
    font-size: 50px;
    left: 570px;
    color: #323232;
}

.apple{

    width: 20%;
    position: absolute;
    bottom: 30px;
    left: 1100px;
    transform: rotate(30deg);
}

.