@font-face {
    font-family: "typewriter";
    src: url(fonts/LUCKY\ TYPEWRITER.ttf);
}

body{
   background-image: url(images/background.png); 
   overflow-x: hidden;
   overflow-y: hidden;
   background-size: 100%;
}

img.a{
    height: 100%;
    width: 100%;
    position: relative;
    left: -10px; 
    bottom: 200px;
    opacity: 20%;
}
.text1{
    font-family: "typewriter";
    position: relative;
    bottom: 200px;
    font-size: 20px;
    left: 570px;
    color: #000000;
}

.apple{

    width: 20%;
    position: absolute;
    bottom: 30px;
    left: 1150px;
    transform: rotate(30deg);
}

.apple:hover{
    transform: scale(1.3);
}

.stars1{
    position: absolute;
    bottom: 35px;
    width: 10%;
    left: 1290px;
}

.stars1:hover{
    transform: scale(1.3);
}

.tape{
    position: absolute;
    bottom: -160px;
    right: 1100px;
    width: 30%;
    z-index: inherit;
}

.tape:hover{
    transform: scale(1.3);
}

.stars2{
    width: 20%;
    position: absolute;
    bottom: 15px;
    transform: rotate(-15deg);
        z-index: 2;
}

.stars2:hover{
    transform: scale(1.3);

}

/* This is my separator for the title*/

.k1{
    width: 15%;
    position: absolute;
    bottom: 483px;
    left: 80px;
    z-index: 1;
}

.o1{
    width: 16%;
    position: absolute;
    bottom: 450px;
    left: 188px;
    z-index: 1;
}